@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    @if(Model.quote != null)
    {
    <blockquote class="blockquote">
        <p class="mb-0">@Model.quote.text</p>
        <footer class="blockquote-footer">@Model.quote.attribution</footer>
    </blockquote>
    }
    else
    {
        <p>Here I was, now I'm gone, gone</p>
    }
    <p>Version: @Model.Version</p>
</div>
